.generated-password {
  font-size: 1.3rem;
  font-weight: 600;
}

.ant-typography-copy {
  color: #ffffff;
}

.password-text {
  border: 0.3rem solid;
  padding: 1rem;
  border-radius: 1rem;
  background: #ffffff;
}

.generated-password-root-div {
  margin: 3rem 0;
}

.password-strength-text {
  font-weight: 500;
  font-size: 1.7rem;
  color: #ffffff;
}
