.password-generator-root-div {
  text-align: center;
  font-size: 2rem;
  padding: 0 5%;
}

.page-header {
  font-size: 3rem;
  color: #ffffff;
}

.checkbox-and-slider {
  /* border: 0.3rem solid #000000; */
  border-radius: 1rem;
  /* margin: 2% 5%; */
}

.logo-space {
  width: 20%;
}

.header-space {
  width: 60%;
}

.options-space {
  width: 20%;
}

.language-selector .ant-select-selector {
  border-radius: 1rem !important;
  font-size: 1.3rem;
}

.ant-select-item {
  font-size: 1.2rem;
}

.ant-select-dropdown {
  border-radius: 1rem !important;
}

.selection-description {
  margin-top: 2%;
  font-size: 1.5rem;
  color: #23286b;
  font-weight: 800;
}

.site-illustration {
  text-align: center;
  margin-left: 10%;
  padding: 2%;
}
