.password-generator-root-div {
  text-align: center;
  font-size: 2rem;
}

.page-header {
  font-size: 3rem;
  color: #ffffff;
}

.checkbox-and-slider {
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  margin: 2% 5%;
}

.logo-space {
  width: 20%;
}

.header-space {
  width: 60%;
}

.options-space {
  width: 20%;
}

.language-selector .ant-select-selector {
  border-radius: 1rem !important;
}

.ant-select-dropdown {
  border-radius: 1rem !important;
}
